
  .text-time{
    float: left;
    p{
      text-align: left;
      
      font-size: 1.3em;
    }
    #text-region{
      font-weight: 100;
    }
    .time{
      font-size: 2.8em;
    }
    .region, .date, .time{
      margin: 0px;
    }
  }






.line-time{
    height: 5px;
}





.line-time{
    transition: width 1s;
}
.html + svg .outer {
  stroke: #e34f26;
}

.outer {
  fill: transparent;
  stroke: #fff;
  stroke-width: 2;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
}
.outer-seconds{
     opacity: 0.95;
}
.outer-clock {
  fill: transparent;
  stroke-width: 1;
  stroke: #3B3A3A;
  opacity: 0.95;
  
}
.outer-minutes{
    opacity: 0.75;
}
.outer-hours{
    opacity: 0.95;
}
.clock{
    // background-color: #00053A;

}

/* text style */
.text-time{
    text-align: center;
    color: white;
    margin-top: -67px;
    margin-bottom: 27px;
    padding-bottom: 39px;
    #text-minutes, #text-seconds{
      font-weight: 100;
    }
}

